/* https://material.io/design/color/# */
$color-primary: #4CAF50;
$color-primary-dark: #388E3C;
$color-primary-light: #C8E6C9;
$color-text-icons: #FFFFFF;
$color-accent: #FFC107;
$color-accent-transparant: rgba(255, 193, 7, 0.5);
$color-primary-text: #212121;
$color-secondary-text: #757575;
$color-divider: #BDBDBD;