@import "../../styles/styles.scss";

.logo img {
	width: 100px;
	height: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#navbar ul { 
	margin: 0; 
	padding: 5px; 
	list-style-type: none; 
	text-align: center; 
	background-color: $color-accent; 
	} 
 
#navbar ul li {  
	display: inline; 
	} 
 
#navbar ul li a { 
	text-decoration: none; 
	padding: .2em 1em; 
	color: $color-text-icons; 
	background-color: $color-accent; 
	} 
 
#navbar ul li a:hover { 
	color: $color-primary-text; 
	background-color: $color-text-icons; 
	} 
