@import "../../styles/styles.scss";


.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.logo img {
	// width: 100px;
	width: 10rem;
	// height: 100px;
	height: 10rem;;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#navbar ul { 
	margin: 0; 
	padding: 5px; 
	list-style-type: none; 
	text-align: center; 
	background-color: $color-primary-transparant; 
	// background-color: $color-accent; 
	border-radius: 0.25rem 0.25rem 0 0;
	border-bottom: 0.1rem solid $color-primary-light;
	} 
 
#navbar ul li {  
	display: inline; 
	} 
 
#navbar ul li a { 
	text-decoration: none; 
	padding: .2em 1em; 
	color: $color-text-icons; 
	// background-color: $color-primary-transparant; 

	// border: 0.1rem solid whitesmoke;
	border-radius: 0.4rem 0.4rem 0 0;
	} 
 
#navbar ul li a:hover { 
	// color: $color-primary-text; 
	background-color: $color-accent-transparant; 
	} 

.active {
	// background-color: $color-primary-dark;
	// border-bottom: none;
	color: $color-text-icons; 

	background-color: $color-accent; 

}
