<!-- <p>
  navigation works!
</p>

<nav>
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/team" routerLinkActive="active">Team</a>
  <a routerLink="/news" routerLinkActive="active">News</a>
  <a routerLink="/club" routerLinkActive="active">Club</a>
</nav> -->

<!-- TODO: Register/login -->
<!-- https://codemyui.com/signup-password-field-reaction-yeti-mascot-login-form/ -->

<div class="logo">
  <img src="../../assets/logo.svg" alt="logo" />
</div>

<div id="navbar"> 
  <ul> 
	<li><a routerLink="/home" routerLinkActive="active">Home</a></li> 
	<li><a routerLink="/team" routerLinkActive="active">Team</a></li> 
	<li><a routerLink="/news" routerLinkActive="active">News</a></li> 
	<li><a routerLink="/club" routerLinkActive="active">Club</a></li> 
  </ul> 
</div> 

<!-- TODO: Club dropdown location/contact/info -->